/* ==UserStyle==
@name           Twitch Better V2
@namespace      1337
@version        2.7.8
@author         idesync
@description 	Twitch Better adds animations, new look, improved usability and more for twitch.tv!
@supportURL 	https://github.com/Desynci/Twitch-Better/issues
@preprocessor 	stylus

@var select holder-1 "— 🌠  General —" {
    ' ': "holder-1"
}
@var checkbox welcome "Twitch Better logo" 1
@var checkbox new-pause "Pause anywhere (breaks stream extensions!)" 1
@var checkbox apply-blur "Apply blur on menu" 1
@var select player-controls "Player controls:" {
    'Default': "default",
	'YouTube Light': "yt-light",
	'YouTube Dark*': "yt-dark"
}
@var checkbox compact-pause "Use new chat pause" 1
@var checkbox transparent-player "More transparent player" 1
@var checkbox new-design "Apply design tweaks" 1
@var checkbox dark-chat "Use dark chat mode" 1
@var checkbox use-glow "Add glow effect to buttons" 1
@var range night-mode-value "Player night mode:" [0,0,100,5,"%"]
@var color timeline_color "VOD timeline color:" #a970ff
@var color thumb_color "VOD thumb color:" #ffffff

@var select animations "— 🎭 Animations —" {
    'ON*': "enabled",
	'OFF': "disabled"
}
@var checkbox animate-badge "Animate chat badges" 1
@var checkbox rainbow-effect "Rainbow nicknames appear" 1
@var select animate-messages "Messages animation:" {
    'None': "none",
	'→ №1': "default",
	'→ №2': "opacity",
	'→ №3*': "from-right"
}
@var checkbox last-only "Animate last message only" 0

@var select sidebar-tweaks "— 🍫 Sidebar tweaks —" {
    ' ': "holder-3"
}
@var range sidebar-size "Width:" [24,13,28,0.5,"rem"]
@var checkbox sidebar-hover-only "Show only on hover" 1
@var checkbox only-following "Clear categories" 0

@var select holder-4 "— 🍂 Removers —" {
    ' ': "holder-4"
}
@var checkbox remove-combo "Combo" 1
@var checkbox remove-combo-overlay "Combo in fullscreen" 0
@var checkbox remove-vods-muted-alert "VODs muted segments alert" 0
@var checkbox remove-disclosure "Explicit content warning" 0
@var checkbox remove-hype-train "Hypetrains" 0
@var checkbox remove-turbo "Turbo promotion" 1
@var checkbox remove-gift "Gift button" 0
@var checkbox remove-subscription "Subscription button" 0
@var checkbox remove-bits "All Bits buttons" 0
@var checkbox remove-powerups "Power ups (Bits)" 0

@var select highlight "— 🌌 Highlight messages —" {
    'ON*': "enabled",
	'OFF': "disabled"
}
@var text nick "[REQUIRED] Enter your exact nickname:" nickname
@var select highlight-type "Highlight type:" {
	'None': "disabled",
    '→ Cosmic Abyss': "cosmic",
	'→ Rainbow': "rainbow",
	'→ Yuji Itadori*': "'https://i.postimg.cc/0NqrRwYX/asset3-ezgif-com-video-to-gif-converter.gif' 0.8 linear-gradient(90deg, transparent 0%, rgba(144, 0, 7, 0.08) 20%, rgba(144, 0, 7, 0.08) 50%, rgba(144, 0, 7, 0.2) 100%)",
	'→ Satoru Godjo': "'https://i.postimg.cc/BbT6YZy3/asset5-ezgif-com-video-to-gif-converter.gif' 0.8 linear-gradient(90deg, rgba(1, 49, 194, 0.1) 0%, rgba(1, 49, 194, 0.2) 100%)",
	'→ The Moon of Spirits': "'https://i.postimg.cc/5y1R1mxG/asset9-ezgif-com-video-to-gif-converter.gif' 0.8 linear-gradient(90deg, transparent 0%, rgba(115, 11, 200, 0.08) 20%, rgba(115, 11, 200, 0.08) 50%, rgba(115, 11, 200, 0.2) 100%)",
	'→ The Arctic Aurora': "'https://i.postimg.cc/CMqDkfGk/asset15-ezgif-com-video-to-gif-converter.gif' 0.8 none",
	'→ Green Mana': "'https://i.postimg.cc/K8s2D4Fy/Video-2025-12-10-221931-ezgif-com-video-to-gif-converter.gif' 1 linear-gradient(90deg, transparent 0%, rgba(4, 123, 32, 0.08) 20%, rgba(4, 123, 32, 0.08) 50%, rgba(4, 123, 32, 0.2) 100%)"
}
@var select nick-gradient "Nickname gradient:" {
    'None': "disabled",
	'→ Discord #1': "(linear-gradient(to right, #369876, #71ff9e, #369876) #369876)",
	'→ Discord #2*': "(linear-gradient(to right, #ffa300, #ffea00, #ffa300) #ffa300)",
	'→ Discord #3': "(linear-gradient(to right, #a9c9ff, #ffbbec, #ffc3a0, #a9c9ff) #ffc3a0)"
}
@var select custom-badge "Badge changer:" {
	'None*': "disabled",
    '→ Moderator': "'https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2'",
	'→ Channel creator': "'https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/2'",
	'→ Verified': "'https://static-cdn.jtvnw.net/badges/v1/d12a2e27-16f6-41d0-ab77-b780518f00a3/2'",
	'→ Hornet': "'https://static-cdn.jtvnw.net/badges/v1/4dc7b047-8c59-4522-97f2-24fb63147f56/2'",
	'→ Ruby Heart': "'https://static-cdn.jtvnw.net/badges/v1/ca0aa8ce-b2a8-4582-a5de-4d5b6915dc47/2'",
	'→ Golden Heart': "'https://static-cdn.jtvnw.net/badges/v1/52c90eac-b7ec-4e24-b500-8fceecfe91e8/2'",
	'→ Top gifter': "'https://static-cdn.jtvnw.net/badges/v1/21656088-7da2-4467-acd2-55220e1f45ad/2'",
	'→ Hypetrain': "'https://static-cdn.jtvnw.net/badges/v1/9c8d038a-3a29-45ea-96d4-5031fb1a7a81/2'",
	'→ Clips 100': "'https://static-cdn.jtvnw.net/badges/v1/d2030c7e-c400-4605-a2cf-ce32bd06af8f/2'",
	'→ Clips 100 000': "'https://static-cdn.jtvnw.net/badges/v1/590698dd-2bc4-4401-817a-17c641f5e881/2'",
	'→ Marathon': "'https://static-cdn.jtvnw.net/badges/v1/ae1c6c62-c057-4fad-a1d4-663bf988701f/2'",
	'→ Duolingo': "'https://static-cdn.jtvnw.net/badges/v1/be750d4d-a3b9-4116-ae75-6ee4f3294a19/2'",
	'→ Dino': "'https://static-cdn.jtvnw.net/badges/v1/1d4b03b9-51ea-42c9-8f29-698e3c85be3d/2'",
	'→ r/place \'23': "'https://static-cdn.jtvnw.net/badges/v1/e33e0c67-c380-4241-828a-099c46e51c66/2'",
	'→ Awards \'23': "'https://static-cdn.jtvnw.net/badges/v1/10cf46de-61e7-4a42-807a-7898408ce352/2'",
	'→ Good \'25': "'https://static-cdn.jtvnw.net/badges/v1/192fb627-82b3-46e8-95d3-ac9feba4b1bc/2'",
	'→ Good \'25: Gooder': "'https://static-cdn.jtvnw.net/badges/v1/84a37e81-9d61-4c29-970e-64a32ec040c7/2'",
	'→ Good \'25: The best': "'https://static-cdn.jtvnw.net/badges/v1/928b8033-3777-49cb-a056-230135a08a62/2'",
	'→ Streamer Awards \'25': "'https://static-cdn.jtvnw.net/badges/v1/d52bd174-3509-460b-80ac-4a8d5840194b/2'",
	'→ Rust': "'https://static-cdn.jtvnw.net/badges/v1/5ec1bcd1-82fa-4c42-abf1-be5b64cb63ed/2'",
	'→ Battlefield': "'https://static-cdn.jtvnw.net/badges/v1/d7750af0-caca-47c5-b207-1af9be69ce1b/2'",
	'→ Arc Raiders': "'https://static-cdn.jtvnw.net/badges/v1/d4aa495f-a0e4-4ab4-b3eb-7c2ea573b03f/2'",
	'→ Lol Worlds \'25': "'https://static-cdn.jtvnw.net/badges/v1/4545b0b5-c825-487e-8958-ce5512eb6f84/2'",
	'→ Chrome Star': "'https://static-cdn.jtvnw.net/badges/v1/d139bccf-8184-4fec-a970-cd8d81a7f51a/2'",
	'→ Golden clown': "'https://static-cdn.jtvnw.net/badges/v1/d98418bb-e4cf-43e3-9c25-c182e13de6fe/2'",
	'[Custom image]': "custom"
}
@var text __custom-badge-url "→ [custom image] URL in quotes:" "'Example.com/img.png'"

==/UserStyle== */

@-moz-document domain("twitch.tv") {	
	
	$volume-container = "[class='Layout-sc-1xcs6mc-0 kvrzxX']"
	$whispers-popup = "[class='ScBalloonWrapper-sc-14jr088-0 PjurZ InjectLayout-sc-1i43xsx-0 bAWxnr tw-balloon']"
	$player-settings = "[data-a-target='player-settings-menu']"
	$chat-customization = "[class='Attached-sc-go6eno-0 cJkJNl']"
	$notifications = "[class='ScBalloonWrapper-sc-14jr088-0 PjurZ InjectLayout-sc-1i43xsx-0 bAWxnr tw-balloon']"
	side-nav-bg = transparentify(#0E0E10, #fff, 0.8)
	__badge = ()
		
	:root { --sidebar-size: sidebar-size; }
		
	.video-player[data-a-player-type="site"] video { if (night-mode-value > 0) { filter: brightness(100 - night-mode-value/1.1); } transition: filter .5s; } 
	.seekbar-bar > [style*="169"] { background-color: timeline_color !important; }
	.seekbar-thumb { background-color: thumb_color !important; }
	.channel-root--home .channel-info-content { width: unset; }
	.side-nav--expanded { width: sidebar-size; }
	.reward-icon__animated, .predictions-list-item__body, .extensions-dock-card__image { will-change: transform; }
	.finNtM a { text-decoration: none; }
	.chat-scrollable-area__message-container--paused { padding-bottom: 1rem; }
	.whispers-threads-box__header, .whispers-threads-box__header+.gxOWjV, .jmERFg { border-bottom: none !important; }
	.side-nav { background: #18181b !important; }
	.kpgZBi { border-radius: 12px !important; }
	.chat-wysiwyg-input-box, .jwWicM { box-shadow: inset 0 0 0 var(--input-border-width-small) #636363f2; }
	.chat-input-tray__open { background: #232327b0 !important; }
	[data-a-target="share-button"] { display: none; }
	
		// Notification tweaks
	.onsite-notification-toast__action.dhbGUE { display: none !important; }
	.onsite-notification-toast__action-wrapper { width: unset; border-left: none !important; }
	.onsite-notifications-toast-manager .tw-animation { animation: notification .9s cubic-bezier(0.76, 0, 0.24, 1) !important; }
	.onsite-notification-toast { border-radius: var(--border-radius-extra-large) !important; }
	
		// Fix strange animation bug on closing popup
	.ReactModal__Overlay--after-open:has(.tw-transition[aria-hidden="true"]) { display: none; }
	
	.side-nav__scrollable_content { scrollbar-width: none; }
	.side-nav--expanded {
		.side-nav-section:nth-of-type(2) {
			counter-reset: active-channels-counter;
			
			[data-test-selector="followed-channel"]:not(.side-nav-card__link--offline) {
				counter-increment: active-channels-counter;
			}
			
			&::after {
				content: counter(active-channels-counter);
				display: block;
				font-family: var(--font-display);
    			font-size: 18px;
    			color: var(--color-hinted-grey-9);
   				font-variant-position: super;
				position: absolute;
				right: 43px;
				top: 40px;
			}
		}
	}
	body.ReactModal__Body--open, .side-nav--expanded:hover { counter-reset: active-channels-counter; }
	
	.chat-line__message-body--highlighted {
		background: linear-gradient(90deg, #9db2ff 0%, #9db2ff 40%, #de76f0 50%, #9db2ff 90%, #9db2ff 100%);
		font-weight: 900;
		background-size: 200% 200%;
		animation: gradient 8s linear infinite;
		background-clip: text;
		color: transparent;
		border: none !important;
		font-size: 15px;
		font-variant-emoji: text;
	}
	
	.gift-highlight-gradient-container .gift-highligh-element {
		background: linear-gradient(90deg, #977F9B, #de76f0, #977F9B);
		background-size: 200% 200%;
		animation: gradient 9s linear infinite;
	}
	
	.chat-room__viewer-card .core-error__message-container p, .emote-card__display-name h4 {
		background: linear-gradient(to right, #ffa300, #ffea00, #ffa300);
		background-clip: text;
		color: transparent !important;
		background-size: 100px auto;
		animation: gradient-discord 1.5s linear infinite;
		font-weight: 600 !important;
	}
	
	button[data-a-target="user-menu-toggle"] {
		transition: .25s;
		border-radius: var(--border-radius-rounded);
		
		&:hover {
			box-shadow: 0px 0px 0 5px #7171807a;
		}
		
		&[aria-expanded="true"] {
			transition: .25s cubic-bezier(0.76, 0, 0.24, 1);
			box-shadow: 0px 0px 0 3px var(--color-twitch-purple-10);
		}
		
		.kjWTWh {
			background-color: transparent !important;
		}
	}
	
	button[data-a-target="chat-badge"], .dvtAVE > .chat-badge {
		transition: .2s;
		transform: scaleZ(1);
		
		&:hover { transform: scale(1.2) }
	}
	
	if (welcome) { /* logo-blink 4s 9s */ // cubic-bezier(.57,-0.4,.28,1.03);
		.top-nav .itDlPz [data-test-selector="toggle-balloon-wrapper__mouse-enter-detector"]::after {
			content: "Twitch Better | V2";
			padding-right: 2px;
			position: absolute;
			left: 47px;
			bottom: 8px;
			font-size: var(--font-size-4);
			line-height: var(--line-height-heading);
			font-weight: 600;
			letter-spacing: -0.18px;
			white-space: nowrap;
			background: linear-gradient(90deg, #9db2ff 0%, #9db2ff 40%, #de76f0 50%, #9db2ff 90%, #9db2ff 100%);
			background-size: 200% 200%;
			animation: gradient 5s 2.5s linear infinite, logo 11s 4s backwards;
			background-clip: text;
			transition: .45s, clip-path .4s;
			transition-property: opacity, clip-path, word-spacing, color;
				/* state after animation */
			clip-path: inset(0 25% 0 0);
			opacity: 0.5;
			color: #b1b1bf;
			cursor: pointer;
			
			@media screen and (min-width: 1440px) {
				font-size: var(--font-size-3);
				bottom: 6px;
				left: 51px;
			}
		}
		
		.top-nav .itDlPz [data-test-selector="toggle-balloon-wrapper__mouse-enter-detector"] {
			&:hover::after { word-spacing: 3.5px; transition: .65s, clip-path .4s; }
			&:active::after { clip-path: inset(0 0 0 0); word-spacing: 0; color: transparent; opacity: 1; transition: .5s .05s, clip-path .65s .05s, word-spacing .6s .05s cubic-bezier(0.76, 0, 0.24, 1) }
		}
	}
	
	if (player-controls!="default") {
		
		// -- VARS: colors, sizes -- //
		
		light-bg = rgba(83, 83, 95, .478);
		dark-bg = rgba(2, 2, 3, .478);
		
		bg-inset-on-hover = rgba(255, 255, 255, .15);
		bg-inset-on-active = rgba(255, 255, 255, .2);
		
		light-volume-container-inset = rgba(255, 255, 255, .1);
		dark-volume-container-inset = rgba(0, 0, 0, .1);
		
		button-size = 32px + 8px;
		icon-size-left-panel = 2rem + 0.4rem;
		icon-size-right-panel = 2rem + 0.2rem;
		
		// -- PAUSE BUTTON -- //
		
		[data-a-target="player-play-pause-button"] {
			width: button-size;
			height: button-size;
			transition: background-color .3s;
			
			.lnTwMD {
				width: icon-size-left-panel;
				height: icon-size-left-panel;
			}
			
			background-color: (player-controls=="yt-light") ? light-bg !important : dark-bg !important;
			
			&:hover .tw-svg {
				transform: scale(1.15);
			}
			
			.tw-svg {
				transition: transform .15s cubic-bezier(.05, 0, 0, 1);
			}
			
			if (new-pause) {
				&[data-a-player-state="paused"]:hover::after {
					background-color: bg-inset-on-hover;
					animation: content-in .2s;
				}
			}
			else {
				&:hover::after {
					background-color: bg-inset-on-hover;
					animation: content-in .2s;
				}
			}
			
			&::after {
				content: "";
				position: absolute;
				inset: 2px;
				pointer-events: none;
				border-radius: 27px;
				transition: none !important;
			}
		}
		
		// -- VOLUME BUTTON & SLIDER -- //
		
		.player-controls__left-control-group {$volume-container} {
			position: relative;
			border-radius: 55px !important;
			padding-right: 10px;
			margin: 6px;
			transition: background-color .15s;
			
			[class="Layout-sc-1xcs6mc-0 dEKQxZ"] {
				background-color: (player-controls=="yt-light") ? light-bg : dark-bg;
				border-radius: 55px !important;
				transition: background-color .15s;
			}
			
			&:hover {
				background-color: (player-controls=="yt-light") ? light-bg : dark-bg;
				
				[class="Layout-sc-1xcs6mc-0 dEKQxZ"], .iPkwTD {
					background-color: transparent;
				}
				
				.tw-svg { transform: scale(0.94); }
			}
			
			.tw-svg {
				transition: transform .25s;
			}
			
			.iPkwTD:hover::after { // mute unmute button
				transform: scale(1);
				opacity: 1;
			}
			
			.iPkwTD:active::after {
				background-color: bg-inset-on-active;
			}
			
			.iPkwTD::after {
				content: "";
				position: absolute;
				inset: 2px;
				pointer-events: none;
				border-radius: 55px;
				transition: .15s;
				transform: scale(0.3);
				opacity: 0;
				background-color: bg-inset-on-hover;
			}
			
			&:hover::after {
				transform: scale(1);
				opacity: 1;
			}
			
			&::after {
				content: "";
				position: absolute;
				inset: -3px;
				pointer-events: none;
				border-radius: 55px;
				transition: .15s;
				transform: scale(0.3);
				opacity: 0;
				background-color: (player-controls=="yt-light") ? light-volume-container-inset : dark-volume-container-inset;
			}
			
			//.ekgjut[data-focus-visible-added]
			
			.ScRangeFillContainer-sc-q01wc3-2 {
				height: 3px;
			}
			
			&:not(:hover) { .volume-slider__slider-container { opacity: 0; } }
		}
		
		[data-a-target="player-mute-unmute-button"] {
			width: button-size;
			height: button-size;
			
			.lnTwMD {
				width: icon-size-left-panel;
				height: icon-size-left-panel;
			}
		}
		
		// -- RIGHT CONTROL GROUP -- //
		
		.player-controls__right-control-group {
			> [class="Layout-sc-1xcs6mc-0 bDlkVb"] { // round clip button if it's first
				border-top-left-radius: 55px;
				border-bottom-left-radius: 55px;
				margin-inline: 0 !important;
			}
			
			> [class="Layout-sc-1xcs6mc-0"] { // round next button
				border-top-left-radius: 55px;
				border-bottom-left-radius: 55px;
			}
			
			> [class="Layout-sc-1xcs6mc-0 bDlkVb"]+[class="Layout-sc-1xcs6mc-0"] { // remove round on next button if clip is there
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			
			> div:last-of-type {
				border-top-right-radius: 55px;
				border-bottom-right-radius: 55px;
			}
			
				// quality tag
			.cofMAX { margin-inline: 5px; }
			.gUwAuK {
				color: rgb(247, 247, 247);
				backdrop-filter: blur(2px);
				if (player-controls=="yt-light") { background-color: light-bg; box-shadow: inset 0 0 0 var(--input-border-width-small) #8c8c8c4d; }
				else if (player-controls=="yt-dark") { background-color: dark-bg; box-shadow: inset 0 0 0 var(--input-border-width-small) #33333369; }
			}
			
			> div:not(.cofMAX, .resize-detector) {
				transition: background-color .15s;
				position: relative;
				
				background-color: (player-controls=="yt-light") ? light-bg : dark-bg;
			}
			
			> div:not(.cofMAX, .resize-detector):hover::after {
				transform: scale(1);
				opacity: 1;
			}
			
			> div:not(.cofMAX, .resize-detector):active::after {
				background-color: bg-inset-on-active;
			}
			
			> div:not(.cofMAX, .resize-detector)::after {
				content: "";
				position: absolute;
				inset: 2.5px;
				pointer-events: none;
				border-radius: 55px;
				transition: .15s;
				transform: scale(0.3);
				opacity: 0;
				background-color: bg-inset-on-hover;
			}
			
			// -- -- //

			[aria-label$="(alt+x)"]:hover .tw-svg {
				transform: translateY(-3px) rotate(-0.02turn);
				transition: transform .25s !important;
			}
			
			[data-a-target="player-settings-button"]:hover .tw-aspect {
				transform: rotate(0.05turn) scale(0.95);
			}
			
			path, .tw-aspect, .tw-svg {
				transition: transform .2s, fill .25s;
			}
			
			button {
				&:hover {
					background-color: transparent !important;
				}
				
				&:not([aria-label*="(alt+x)"]) {
					width: button-size;
					height: button-size;
				}
				
				&[aria-label*="(alt+x)"] {
					height: button-size;
				}
				
				&[aria-disabled="true"][aria-haspopup][class="ScCoreButton-sc-ocjdkq-0 gGttfb"]:disabled { // disabled clip button
					background-color: #000 !important;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					
					[data-a-target="tw-core-button-label-text"] {
						display: none !important;
					}
				}
			}
			
			.lnTwMD, .hHUQhB {
				width: icon-size-right-panel;
				height: icon-size-right-panel;
			}
			
			 [aria-label*="(alt+x)"] {
				background: none !important;
			}
		}
		
		.persistent-player:not(.persistent-player--theatre) .player-controls__right-control-group { // default mode
			[aria-label$="(alt+t)"]:hover svg {
				transform: scaleY(1.15);
			}
			
			[data-a-target="player-fullscreen-button"] {
				&:hover .tw-svg {
					transform: scale(1.1);
				}
				
				&:active .tw-svg {
					transform: scale(0.85);
				}
			}
		}
		
		.persistent-player--theatre .player-controls__right-control-group { // theatre mode (must be overrided in fullscreen mode below!)
			[data-a-target="player-fullscreen-button"] {
				&:hover .tw-svg {
					transform: scale(1.15);
				}
				
				&:active .tw-svg {
					transform: scale(0.85);
				}
			}
			
			[aria-label$="(alt+t)"]:hover svg {
				transform: scaleY(0.85);
				fill: #989898 !important;
			}
		}
		
		.persistent-player--theatre:not([style*="max-height: 100vh"]) .player-controls__right-control-group, .video-player__container:fullscreen .player-controls__right-control-group { // fullscreen mode
			[data-a-target="player-fullscreen-button"] {
				&:hover .tw-svg {
					transform: scale(0.85);
				}
				
				&:active .tw-svg {
					transform: scale(1.15);
				}
			}
		}
	}
	
	if (dark-chat) {
		.chat-room[data-a-target="chat-theme-dark"], .video-chat__message-list-wrapper, .video-chat .GHFzH {
			background: #0e0e10 !important;
			transition: background .5s;
		}

		.chat-wysiwyg-input-box, .announcement-line, .announcement-line .jmdYJS {
			background-color: #131315b0 !important;
		}
		
		.chat-scrollable-area__message-container {
			.ikqKEy, .imeDWF {
				background-color: #131316 !important;
			}
		}
		
		.chat-input-tray__open {
			background: #131315b0 !important;
		}
		
		.community-points-summary .fOtgyk {
			background-color: #00c274;
			
			&:hover { background-color: #00f090; }
		}
		
		[data-a-target="chat-send-button"] {
			background-color: #6200f5;
			
			&:hover { background-color: #781fff; }
		}
		
		[data-test-selector="chat-private-callout-queue__callout-container"] .bTkUWo {
			background-color: #18181b !important;
		}
		
		[data-a-target="chat-private-callout__primary-button"] {
			background: linear-gradient(90deg, #9db2ff 0%, #de76f0 50%, #9db2ff 100%);
			background-size: 200% 200%;
			animation: gradient 8s linear infinite;
			
			&:hover {
				transform: scale(0.98)
			}
		}
	}
	
	if (new-design) {
		#front-page-main-content .find-me {
			padding: 15px 15px 0px 15px;
			background: #18181b99;
    		border-radius: 10px;
		}
		
		.guest-star-live-card-border {
			background: crimson;
		}
		
		.guest-star-live-card-clip-edge {
			clip-path: inset(1px);
		}
		
		.giftExpirationCallout--Y94PX, [aria-label*="(alt+x)"] {
			background: none !important;
		}
		
		.gift-button-blue { background-color: #2f2f35; }
		
		.video-chat__header {
			height: 40px;
			border-bottom: var(--border-width-default) solid var(--color-border-base) !important;
			background-color: var(--color-background-base) !important;
			box-shadow: none !important;
		}
		
		.seekbar-thumb { width: 1.7rem; height: 1.7rem; }
		.seekbar-bar, .seekbar-segment { height: 9px; }
		
		.community-highlight-stack__card, .community-highlight-stack__backlog-card {
			.cKpxcT, .ircmYD, .community-highlight {
				border-radius: 13px !important;
			}
		}
		
		.rewards-list button.hWTXlR {
			background-color: #544365;
			&:hover { background-color: #786090; }
		}
		
		.video-chat__message-list-wrapper .jyLLNw > .jLggkh {
			&::before, &::after {
				content: "";
				height: 1rem;
				width: 1rem;
				display: block;
				position: relative;
				background: red;
				border-radius: 50%;
				justify-self: center;
			}
			
			&::before {
				top: 36px;
				animation: indicator 1.5s infinite;
			}
			
			&::after {
				top: 1px;
			}
		}
		
		.tw-channel-status-text-indicator { color: #0e0e10 }
			
		[data-a-target="animated-channel-viewers-count"] {
			color: #ff4542 !important;
		}
		.cMyzPK {
			fill: #ff4542 !important;
		}
		
		a[data-a-target="stream-game-link"] {
			color: #a366ff; &:visited { color: #a366ff }
		}
		
		.tw-tag {
			background-color: #34363c61 !important;
		}
		
			// VOD info panel
		#live-channel-stream-information .hoYUtL {
			background-color: #131316 !important;
		}
	}
	
	.seekbar-bar { transition: transform .2s }
	.seekbar-interaction-area { will-change: transform; }
	.seekbar-interaction-area:hover { .seekbar-bar { transform: scaleY(1.5); } }
	
	if (use-glow) {
		.community-points-summary .fOtgyk {
			__points-color = (dark-chat) ? #00800096 : #00a70085;
			__points-color-hover = (dark-chat) ? #008000cc : #00c70085;
			
			box-shadow: 0px 0px 8px __points-color;
			&:hover { box-shadow: 0px 0px 10px __points-color-hover; }
		}
		
		[data-a-target="chat-send-button"]:not([disabled]) {
			__chat-color = (dark-chat) ? #9600ff96 : #a92dff96;
			__chat-color-hover = (dark-chat) ? #a11bff96 : #be61ff96;
			
			box-shadow: 0px 0px 8px __chat-color;
			&:hover { box-shadow: 0px 0px 10px __chat-color-hover; }
		}
	}
	
	if (remove-vods-muted-alert) { .muted-segments-alert__position-wrapper { display: none !important; } }
	//@var checkbox remove-banner "Clips banner" 1
	//if (remove-banner) { [style*="badge-promo-banner"] { display: none !important; } }
	if (remove-hype-train) { .hype-train__banner, .side-nav-card [class="Layout-sc-1xcs6mc-0 hMzOYz"], .online-side-nav-channel-tooltip__body .ipRTld .hMzOYz { display: none !important; } }
	if (remove-disclosure) { #channel-player-disclosures { display: none !important; } }
	if (remove-combo) {
		#live-channel-stream-information { .eTyMgg > [class="Layout-sc-1xcs6mc-0 gEvECC"] { display: none !important; } }
		.video-player__overlay { .iZiJYe > #one-tap-store-id[role="menu"] { display: none !important; } }
	}
	if (remove-combo-overlay) { .video-player__overlay > [class="Layout-sc-1xcs6mc-0 hHZcXo"][style="pointer-events: none;"] > .cqrOTI[style^="padding"] { display: none !important; } }
	
	if (transparent-player) { .player-controls, .top-bar { background: none; } }
	
	if (remove-bits) {
		.community-points-summary { [class="Layout-sc-1xcs6mc-0 eCNebZ"], [data-test-selector="bits-balance-string"] { display: none !important; } }
		.community-points-summary:has(.liFGiB button) .cUmVME, button[data-a-target="top-nav-get-bits-button"] { display: none !important; }
		.chat-input__textarea [data-a-target="bits-button"] { display: none; }
		[data-a-target="top-nav-get-bits-button"], .reward-center__content__with-bits-rewards {
			.gGttfb:not([aria-label]) { display: none; }
			.kFLrqZ { margin-inline-end: 0 !important; }
		}
	}
	
	if (remove-powerups) {
		.reward-center__content__with-bits-rewards {
			.dvyJIR, .bitsRewardListItem--yx4rk { display: none !important; }
			.henkzH { padding-block: 14px 0px !important; }
		}
	}
	
	if (remove-turbo) {
		@css { .top-nav__menu [class="Layout-sc-1xcs6mc-0"] > [class="InjectLayout-sc-1i43xsx-0 iDMNUO"] { button[class="ScCoreButton-sc-ocjdkq-0 gGttfb"], button[class="ScCoreButton-sc-ocjdkq-0 iPkwTD ScButtonIcon-sc-9yap0r-0 dcNXJO"]:not([data-a-target]), button[class="ScCoreButton-sc-ocjdkq-0 iPkwTD ScButtonIcon-sc-9yap0r-0 dcNXJO"]:not([data-a-target])+.tw-new-item-indicator__container, button[class="ScCoreButton-sc-ocjdkq-0 gGttfb"]+.tw-new-item-indicator__container { display: none; } }
	} }
	
	if (remove-gift) {
		[data-a-target="gift-button"] { display: none; }
	}
	
	if (remove-subscription) {
		[data-a-target="subscribe-button"] { display: none !important; }
	}
	
	if (sidebar-hover-only) {
		@css { .foAhuv [data-popper-placement="bottom"][style$="translate3d(10.4px, 70.4px, 0px);"] {
			transform: translate3d(var(--sidebar-size), 70.4px, 0px) !important;
		} }
		
		.side-nav {
			position: fixed;
			z-index: 100000;
			top: 0;
			opacity: 0;
 			box-shadow: var(--shadow-elevation-2) !important;
			will-change: transform, opacity;
			transform: translateX(-98%);
			
			&:hover {
				transform: translateX(0); opacity: 1;
			}
		}
		
		.side-nav--expanded {
			opacity: 0;
			transition: transform .28s cubic-bezier(0.76, 0, 0.24, 1), opacity .4s cubic-bezier(0.76, 0, 0.24, 1);
			
			&:hover {
				transition: transform .3s .05s, opacity .05s !important;
			}
		}
		
		.side-nav--collapsed {
			width: 5rem; opacity: 0; transition: transform .25s .05s, opacity .25s .05s;
		}
			
		if (apply-blur) { .side-nav.kHqXhd { background: side-nav-bg !important; backdrop-filter: blur(55px); } }
	}
		
	if (only-following) {
		.side-nav-section:not(:nth-of-type(2)) { display: none !important; }
	}
	
	if (highlight=="enabled") {
		if (highlight-type=="cosmic") {
			.chat-line__message[data-a-user={nick} i] { background-image: url("https://i.postimg.cc/mgswRY35/cosmic-abyss-tall-ezgif-com-video-to-gif-converter.gif"); padding: 1.8rem 1rem; background-repeat: repeat-y;
			.chat-line__message-container { background: var(--color-background-body); padding: .8rem 1rem; width: 100% !important; border-radius: var(--border-radius-medium) !important; } }
		}
		
		else if (highlight-type=="rainbow") {
			.chat-line__message[data-a-user={nick} i] {
				.chat-line__message-container { background: var(--color-background-body); margin: 1rem; padding: .8rem 1rem; }
				.chat-line__icons { top: -0.9rem; }
				
				.AoXTY {
					overflow: hidden !important;
					border-radius: var(--border-radius-medium) !important; }
				
				.AoXTY::before {
					content: "";
					filter: blur(4px);
					z-index: -1;
					height: 98%;
					inset-inline-start: 50%;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 96%;
					border-radius: var(--border-radius-medium) !important;
					animation: gradient-rotate 4s linear infinite; 
					background-image: conic-gradient(from var(--angle), #b23ff8, #3cc890, #38a7ca, #b23ff8); 
				}
			}
		}
		
		else {
			.chat-line__message[data-a-user={nick} i] .chat-line__message-container {
				&::before {
					content: '';
					position: absolute;
					z-index: -2;
					height: 100%;
					width: 100%;
					border-radius: 4px;
					opacity: highlight-type[1];
					background-position: right;
					background-image: url(highlight-type[0]);
					background-size: cover;
					pointer-events: none;
				}
				
				&::after {
					content: '';
					position: absolute;
					z-index: -1;
					height: 100%;
					width: 100%;
					border-radius: 4px;
					left: 0px;
					top: 0px;
					background: highlight-type[2];
					pointer-events: none;
				}
				
				[data-a-target="chat-line-message-body"] {
					font-weight: 600;
					text-shadow: 0 0 9px #000, 0 0 4px #181818, 0 0 4px #181818;
				}
			}
		}
		
		if (nick-gradient!="disabled") {
			.chat-author__display-name[data-a-user={nick} i], .tw-link[href$={nick} i], a[href$={nick} i] > .tw-title, [data-test-selector="user-menu-dropdown__display-name"], .thread-message__message--user-name[aria-label={nick} i] {
				background: nick-gradient[0];
				background-clip: text;
				color: transparent !important;
				background-size: 100px auto;
				animation: gradient-discord 1.5s linear infinite;
				font-weight: 600 !important;
				
				&::before {
					content: "" + nick;
					position: absolute;
					opacity: .6;
					filter: blur(4px);
					background: nick-gradient[0];
					background-clip: text;
					color: transparent;
					background-size: 100px auto;
					animation: gradient-discord 1.5s linear infinite;
					pointer-events: none;
				}
			}
			
			.metadata-layout__support .dMBVIY a[href$={nick} i] { text-decoration-color: nick-gradient[1]; }
				
			button[data-a-target="user-menu-toggle"][aria-expanded="true"] {
				box-shadow: 0px 0px 0 3px nick-gradient[1];
			}
		}
		
		if (custom-badge!="disabled") {
			if (custom-badge=="custom") { __badge = __custom-badge-url }
			else { __badge = custom-badge }
			
			.chat-line__message[data-a-user={nick} i] {
				.chat-line__username-container span > .dvtAVE:last-of-type {
					.chat-badge { content: url(__badge); max-height: 18px; max-width: 18px;
						&:hover { animation: reveal-badge .5s forwards; }
					}
				}
			}
			
			[aria-label="ChatBadgeCarousel"] {
				img { content: url(__badge); max-height: 2rem; max-width: 2rem; }
				
				&:hover {
					img { animation: reveal-badge-carousel .3s forwards cubic-bezier(0.76, 0, 0.24, 1); }
				}
				
				&:not(:hover) {
					img { animation: chat-badge .4s .1s backwards; }
				}
			}
		}
	}
	
	if (compact-pause) {
		.chat-paused-footer--button { gap: 0; grid-template-columns: none; width: 185px !important; .hTJhrY { display: none; } }
		.chat-paused-footer .kaIUar { padding: 0 !important; }
		.chat-paused-footer {
			backdrop-filter: blur(5px); width: 245px; height: 35px; inset-inline-start: 0; justify-self: anchor-center; bottom: 5px !important;
			button { height: 35px; width: 100%; }
			
			&:hover {
				transform: scaleX(0.930);
			}
		}
		
		.chat-paused-footer button:hover {
			svg { transform: scale(1.6); }
			path { animation: pause-svg .3s }
			&:active { transform: scaleX(0.95) }
		}
	}
	
	.chat-paused-footer {
		transform: none;
		background-color: rgba(10, 10, 10, .722) !important;
		border-color: #4f4f4f7a;
		transition: .4s;
		opacity: 1;
		inset-inline-start: 0;
		justify-self: anchor-center;
		@css { @starting-style { transform: translateY(30px) !important; opacity: 0 !important; } }
	}
	
	.video-chat__sync-button {
		width: 301px;
		backdrop-filter: blur(5px);
		background-color: rgba(10, 10, 10, .7) !important;
		border: 1px solid #4f4f4f7a;
		transition: .3s;
		color: var(--color-text-overlay) !important;
		height: 40px;
		margin-block-end: 20px !important;
		border-radius: var(--button-border-radius-default);
		&:hover { transform: scaleX(0.990); color: #ffffffbf !important; background-color: rgba(30, 30, 30, .722) !important; }
		&:active { transform: scaleX(0.970); transition: .15s; background-color: rgba(64, 64, 64, .42) !important; }
		@css { @starting-style { transform: translateY(30px); opacity: 0 !important; } }
	}
	
		// -- VOD messages tweaks
	.video-chat__message-list-wrapper {
		.ggvZjN { /*padding-left: 4px;*/ padding-top: 1px; }
		.jUiaVy { border-radius: var(--border-radius-medium); }
		.jUiaVy:hover { text-decoration: underline; background: var(--color-background-interactable-alpha-hover); }
	}
	
	.vod-message {
		overflow-wrap: anywhere;
		transition: .05s linear;
		
	 	@css { [style="color: rgb(0, 0, 255);"] {
			color: rgb(55 55 255) !important;
		} }
		
		.CoreText-sc-1txzju1-0.irZUBM {
			color: #adadb8;
			/*font-size: var(--font-size-base) !important;*/
			font-weight: 600;
		}
		
		.video-chat__message-menu {
			path { visibility: visible; }
			.fxVxcR { opacity: 0; }
		}
		
		&:hover {
			background: var(--color-background-interactable-alpha-hover);
			border-radius: var(--border-radius-medium) !important;
			.fxVxcR { opacity: 1; }
		}
	}
	
	.social-media-link__container:not(:hover)+.social-media-link__external-link-icon {
		transform: translateX(-5px) scale(0.5);
		transition: .1s;
	}
	
	.social-media-link__external-link-icon {
		transition: .2s;
		.dVDUDh {
			width: 1.7rem;
			height: 1.7rem;
		}
	}
	
	.metadata-layout__support .dMBVIY a[href]:not(:hover) { text-decoration-color: transparent; }
	
			// -- 0.5s, 0.3s, 0.2s -- //
	.notched-range--handle, .offline-recommendations-video-card [class^="offline-recommendations-video-card-border"] { transition: .5s }
	.fOtgyk, .emote-button__link img, .edit-appearance__badge-chooser, .kJMgAB { transition: .3s }
	.iOIbVE.iOIbVE, .chat-line__username-container--hoverable, .kMwhRV, .jUiaVy, .jwWicM, .predictions-list-item__body, .jLHIWd, .metadata-layout__support .dMBVIY a[href] { transition: .2s }
	
		// -- 0.15s -- //
	.dcNXJO, .kzYOur, .kXuCmW, .jUkMRL, .kccyMt, .hovRjt, .dCFkna, .cAajJv, a.navigation-link, .hWTXlR, .kMwhRV, .dEeZDR,
	.gxYeIp, .bZLSuF, .gGttfb, .bNByMh, .kLgTJj, .eCrblY, .ldMHo, .fvWwI, .fixed-prediction-button,
	.dOkkBt, .iwMIba, .imYKMv, .bmaSLQ, .hQMzBR, .extensions-dock-card__image, .media-row__info-description, .converter-preview-player-controls--gradient,
 	.iJmEhj, [data-a-target="tw-progress-bar-animation"], .media-row__image-play-overlay { transition: .15s }
	
		// -- 0.1s -- //
	.hYdssb, button.imYKMv, .hlLhUC, .bQjtjF, .ccSgUF, .fKHFsE::before { transition: .1s }
	
		// -- 0.05s -- //
	.chat-line__message-highlight, .chat-line__icon, .kZmtcH, .gcA-DkW, .highlight__progress-bar [data-a-target="tw-progress-bar-animation"] { transition: .05s linear }
	
		// -- ANIMATIONS
	if (animations=="enabled") {
		{$notifications}[data-test-selector="center-window__balloon"] {
			.scrollable-area { max-height: 46px; transition: max-height .6s ease; overflow-y: scroll; }
			.scrollable-area:not(.center-window__short-scrollable-area) { max-height: 400px; }
			.scrollable-area.center-window__short-scrollable-area:not(:has(.tw-loading-spinner)) { max-height: 300px; }
		}
		
		{$whispers-popup} {
			.whispers-threads-box__scrollable-area {
				transition: max-height .5s ease;
				max-height: 200px;
				
				@css { @starting-style { max-height: 20px !important; } }
			}
		}
		
		/*.pinned-chat__highlight-card {
			.highlight { 
				.pinned-chat__scrollable-area {
					transition: max-height .2s ease;
					max-height: 50px;
				}
			}
			
			.highlight:not(.highlight__collapsed) { 
				.pinned-chat__scrollable-area {
					max-height: 20rem;
				}
			}
		}*/
		
		if (animate-messages=="default") {
			if (last-only) { .chat-scrollable-area__message-container > div:last-child { animation: messages .25s; } }
			else { .chat-scrollable-area__message-container > div { animation: messages .4s; } }
			
			.vod-message { animation: messages .4s; }
				
			.chat-scrollable-area__message-container { overflow-y: hidden; } // remove chat scroller caused by messages transform
		}
		
		else if (animate-messages=="opacity") {
			[data-a-target="chat-line-message-body"], .video-chat__message { animation: opacity-in .4s }
		}
		
		else if (animate-messages=="from-right") {
			if (last-only) { .chat-scrollable-area__message-container > div:last-child { animation: messages-right .3s } }
			else { .chat-scrollable-area__message-container > div { animation: messages-right .4s } }
			
			.vod-message { animation: messages-right .4s }
				
			.chat-scrollable-area__message-container { overflow-x: hidden; } // remove chat scroller caused by messages transform
		}  
		
		if (rainbow-effect) { .chat-line__username-container { animation: spin-hue .85s; } }
		
		if (animate-badge) {
			if (last-only) {
				.chat-scrollable-area__message-container > div:last-child .chat-badge {
					animation: chat-badge .3s .1s backwards;
				}
			}
			
			else {
				.chat-line__message .chat-badge, .vod-message .chat-badge {
					animation: chat-badge .4s .25s backwards;
				}
			}
		}
		
		{$player-settings} > div, .chat-settings__content > div {
			animation: settings-menu .225s;
		}
		
		{$player-settings} .CayVJ.imYKMv:first-of-type { // close icon animation
			.tw-drop-down-menu-item-figure { transition: .15s; }
			&:active { .tw-drop-down-menu-item-figure { color: red; } }
		}
		
	// -- settings arrows animation
		{$player-settings} {
			.cWChvM > div { transition: .2s }
			
			.imYKMv[role="menuitem"]:hover {
				.cWChvM > div { transform: translateX(-3px) }
			}
		}
		
		.chat-settings__content {
			.dKXial.tw-svg { transition: .15s }
			
			.tw-interactable[data-a-target]:not([data-a-target="popout-chat-button"]):hover {
				.dKXial.tw-svg { transform: translateX(-6px) }
			}
		}
		
		[data-test-selector="main-menu"] {
			.cjzCcJ > div { transition: .2s .1s }
				
			&:hover {
				.cjzCcJ > div { transform: translateX(-3px) }
			}
		}
	// --
		
		[aria-describedby="chapter-select-popover-body"], .preview-card-game-balloon .kCsLVM { 
			animation: chat-tray .3s, blur-55 0.9s forwards !important;
			border-radius: var(--border-radius-large);
			background: #00000094 !important;
			
			.kCsLVM { background: none !important }
		}
	
			// verification badge animation
		.channel-info-content .dMBVIY {
			.ijyopa .tw-svg { transition: transform .35s }
			a:hover+.ijyopa .tw-svg { transform: rotate(0.07turn) scale(1.1); }
		}
	
		.tw-progress-bar .dqeKsq { animation: spin-hue 3s infinite linear; background: #00db84 !important; }
		[data-a-target="tw-progress-bar-animation"] { --color-background-progress-status-success: #d57de1 !important; }
		.reward-icon--large { transition: .25s; filter: hue-rotate(0); &:hover { filter: hue-rotate(0.1turn); } }
	
		.streamer-card__balloon {
			.kXaRRs { animation: streamer-card .6s !important; }
			.jvDEkm { animation: spin-hue-180 .8s; }
			[data-a-target="follow-button"] { animation: follow-button .55s .25s backwards; }
			[data-a-target="unfollow-button"] { animation: follow-placeholder .65s reverse cubic-bezier(0.76, 0, 0.24, 1); }
			[class="ScPlaceholderFill-sc-wb1w3c-2 eJtHtF"] { animation: follow-placeholder .3s .1s forwards }

			.kyIBpI { overflow: hidden; }
		}
		
		.fKHFsE::after { animation: content-in-checkbox .5s .05s backwards } // circle checkbox animation
		
		.chat-input-tray__open, .chat-settings__popover .chat-badge {
			animation: chat-tray .4s;
		}
		
		.chat-input-tray__open .chat-line__message, .chat-input-tray__open > [class="Layout-sc-1xcs6mc-0"] {
			animation: chat-tray .3s;
		}
		
		[data-test-selector="view-all-button"] > div {
			animation: chat-tray .3s;
		}

		{$chat-customization} {
			animation: chat-custom .5s;
			margin-block-end: 0;
    		margin-inline-end: 0;
    		right: 200%;
				
			@css { 
				.chat-identity-menu__content {
					.hyBNWd,
					[data-test-selector="global-badges-test-selector"],
					.ipRTld,
					[data-test-selector="badges-description-test-selector"],
					[data-test-selector="subscriber-badge-test-selector"],
					[class="Layout-sc-1xcs6mc-0 hyBNWd"] > [class="Layout-sc-1xcs6mc-0"] > [data-test-selector="use-custom-channel-badge-test-selector"],
					[data-test-selector="channel-badges-test-selector"] {
						animation: custom-element .5s backwards;
					}
				}
				
				.chat-identity-menu__content {
					.hyBNWd, [data-test-selector="use-custom-channel-badge-test-selector"], [data-test-selector="global-badges-test-selector"] { animation-delay: 100ms; }
					[data-test-selector="badges-description-test-selector"], [data-test-selector="subscriber-badge-test-selector"] { animation-delay: 200ms; }
					[class="Layout-sc-1xcs6mc-0 hyBNWd"] > [class="Layout-sc-1xcs6mc-0"] > [data-test-selector="use-custom-channel-badge-test-selector"] { animation-delay: 300ms; }
					[data-test-selector="channel-badges-test-selector"] { animation-delay: 300ms; }
					.ipRTld { animation-delay: 400ms; } 
				}
			} 
		}
		
	// credits to Youtube RetroWave by xyadx
	// https://userstyles.world/style/292/youtube-retrowave
		/*.seekbar-thumb::after {
			display: block;
    		opacity: 1;
			content: "";
			height: 25px;
			width: 25px;
			background-image: url(https://i.postimg.cc/wxtHHvWL/starfall.gif);
			background-repeat: no-repeat;
   	 		background-position: center;
   	 		background-size: 100%;
    		transform: rotate(258deg) translateY(-5px) translateX(6px);
    		border-radius: 81px;
		}
		
		.seekbar-thumb {
			background: red;
			animation: yadpogi 3s linear infinite;
			&:hover { transform: scale(1.5) translateX(-5.5px); }
			transition: transform .2s cubic-bezier(.05,0,0,1);
		}*/

		#channel-points-reward-center-body { overflow: hidden !important }
		.rewards-list > div, .emote-picker__search-content-dark .tw-search-input, .emote-grid-section__header-title { animation: rewards-list .4s !important }
		[aria-label="emote-picker"] { animation: emote-picker .28s, blur-15 .4s forwards !important }
		.scrollable-area.emote-picker__nav-content { animation: opacity-in .6s .15s backwards !important }
		
		[data-popper-placement][data-popper-placement="right-start"] { transition: .4s; animation: opacity-in .3s .3s backwards !important; @css { @starting-style { opacity: 0 !important; } } }
		@css { [data-popper-placement]:has(.top-nav__overflow-menu) {
			animation: top-nav-menu 1s, blur-55 1s forwards !important;
			[class="Layout-sc-1xcs6mc-0 kvjacc"] > div { animation: user-element .3s backwards; }
		} }
		[data-popper-placement] { for row in (1..26) { [class="Layout-sc-1xcs6mc-0 kvjacc"] > div:nth-of-type({row}) { animation-delay: 60ms*(row/1.6); } } }
		
		.user-menu-dropdown__main-menu {
			animation: user-menu .6s; will-change: transform, clip-path;
			[class="Layout-sc-1xcs6mc-0"], .kvjacc { > div { animation: user-element .3s backwards; will-change: transform; } }
			for row in (1..19) { [class="Layout-sc-1xcs6mc-0"] > div:nth-of-type({row}) { animation-delay: 60ms*(row/1.5); } }
			for row in (2..6) { .kvjacc > div:nth-of-type({row}) { animation-delay: 40ms*(row/1.5)+750ms; } }
		}

		.side-nav--expanded { animation: side-nav .3s ease; }
			
		.ScRangeFillValue-sc-q01wc3-3 { transition: background-color .5s; }

		.seekbar-thumb { animation: seekbar-thumb .2s; transition: transform .2s; transform: scaleY(0.65) scaleZ(1) translateX(-50%); &:hover { transform: scale(1.3) scaleY(0.65) translateX(-6px) } }
		.vod-message .dQedsG { animation: pop-small .3s; }
		.viewer-card-layer__draggable { animation: swipe .45s .2s backwards; }
		.viewer-card-header__background, .support-panel .goal_widget_v2__container { animation: content-in .5s }
		.community-highlight [class="Layout-sc-1xcs6mc-0 fSfyIg"] { animation: community-highlight .3s }
		[aria-label="Hide for yourself"] { animation: hide-button .45s; }
		.emote-button, .chat-line__message--emote { animation: emotes .5s; transform: scale(1.1); }
		.chat-line__message--emote-button { transition: .15s; transform: scale(1); &:hover { transform: scale(0.95) } }
		
		.search-box {
			.tw-combo-input__input > div { z-index: 1; position: relative; }
			[class="Layout-sc-1xcs6mc-0 bMcAyM"] { background: #18181B !important; padding: 7px !important; }
			.hVLlmi { animation: search .4s, blur-15-decrease 0.8s .1s both; will-change: transform; background: #00000094 !important; }
		}
		
		[data-a-target="player-settings-button"] .jgpfbi { transition: .3s; }
		.player-controls__right-control-group:has(.resize-detector) { [data-a-target="player-settings-button"] .jgpfbi { transform: rotate(0.15turn) } }
		
		.default-panel {
			&>a>img { transition: .3s; transform: scale(1); }

			&:hover {
				&>a>img { transform: scale(0.99); }
			}
		}
	}
	
	if (apply-blur) {
			// -- @CSS to prevent unoptimized preprocessor code output -- //
		@css { [data-popper-placement], .support-panel-container, .clip-editor-popup, .dJwphs.chat-input-tray__open, [aria-labelledby="active-settings-menu-header"] > div, [data-a-target="player-overlay-video-stats"] {
			background: #00000094 !important;
			animation: blur-55 0.9s forwards;
			border-radius: var(--border-radius-large);
			
			.support-panel, .hMGodn, .bAWxnr, .kCsLVM {
				background: none !important;
			}
			
			.boRevm, .fJjWcz, .bJNNGV, .KbcXb {
				background: #17171787 !important;
			}
		}
		
		[aria-labelledby="active-settings-menu-header"] > div {
			animation: settings-blur 0.9s forwards;
		}
		
		[data-popper-placement]:not([data-popper-placement="right-start"]):has(.dduVcl) {
			background: #18181bb0 !important;
			border-radius: var(--border-radius-large);
			animation: blur-15 0.4s forwards;
			box-shadow: var(--shadow-elevation-2) !important;

			.dduVcl, .iGvYpN {
				background: none !important;
			}
			
			.dduVcl {
				box-shadow: none !important;
			}
		}
		
		[aria-describedby="channel-points-reward-center-body"], .hVLlmi, [class="Attached-sc-go6eno-0 gdnAaW"] div, .icXHzp, .dEvhpQ:not(.chat-input-tray__open--persistent), [aria-label="emote-picker"], .vod-message .dduVcl {
			background: #18181bb0 !important;
			border-radius: var(--border-radius-large);
			animation: blur-15 0.4s forwards;
			
			.dduVcl, .iGvYpN {
				background: none !important;
			}
		} }
		
		// -- //
		
		.tw-in-feature-notification .kGRpNK, .emote-card__banner {
			backdrop-filter: blur(15px);
			background: #3b3b441a !important;
		}
		
		.onsite-notifications-toast-manager .tw-animation {
			animation: notification .9s cubic-bezier(0.76, 0, 0.24, 1), blur-55 0.8s forwards !important;
    		overflow: hidden;
			border-radius: var(--border-radius-extra-large) !important;
		}
		
		.emote-card, .emote-card__banner {
			border-radius: var(--border-radius-extra-large) !important;
			border-color: #78787f45 !important;
		}
		
		.viewer-card-layer__draggable {
			width: 30rem;
		}
		
		.onsite-notification-toast {
    		background: #00000094 !important;
			box-shadow: none !important;
			margin-block-end: 0 !important;
		}
		
		.viewer-card-layer__draggable > .fSnwvz {
			animation: blur-15 .7s forwards;
			background: #18181bb0 !important;
			border-color: #53535f47 !important;
		}
		
		[data-popper-placement][data-popper-placement="right-start"] {
			backdrop-filter: none !important; background: none !important;
			.dduVcl { background: #18181bd6 !important; }
			.gyaZBH { padding-block: 1px !important; }
			.gJICsA { padding-inline: 4px !important; }
			.dAvGIo { padding: 0 !important; }
			.jtfmFN { font-size: 1.35rem; }
		}
		
		[data-popper-placement] {
			background: #18181bb0 !important;
			
			.fNeqge, .whispers-threads-box__header {
				background: #ffffff0d !important;
				box-shadow: none !important;
			}
		}
		
		{$player-settings} > .igZqfU:first-of-type button {
			background: rgba(23, 23, 23, .4);
			
			&:hover { 
				background-color: rgba(77, 77, 77, .4); 
			}
		}
		
		[data-a-target="player-overlay-video-stats"] {
			.tw-table-heading { background: #ffffff0d !important; border: none !important; }
			.tw-table { box-shadow: none; }
		}
		
		.whispers-thread {
			background: #00000094 !important; animation: blur-55 0.9s forwards;
			
			.dduVcl {
				background: #1e1e1e !important;
			}
			
			.thread-header__title-bar-container {
				background: #ffffff0d !important;
				box-shadow: none !important;
			}
		}
		
		[aria-label="emote-picker"] .dnjUiS, .gxOWjV { background: #18181b57 !important; }
		.gSwbdq { background-color: #5c16c58c !important; backdrop-filter: blur(4px); }
		.streamer-card__balloon .kyIBpI .lhua-dz { background: #18181bd1 !important; }
			
		{$chat-customization} {
			background: #00000094 !important; backdrop-filter: blur(55px);
			.dduVcl, .chat-identity-menu__content { background: none !important; }
		}
		
		.dewBQX {
			background: #18181ba1 !important;
		}
		
		.hWLVNA, .fJgKVb {
			background: #18181ba1 !important;
			backdrop-filter: blur(10px);
		}
		
		.community-highlight {
			background: #18181bb0 !important;
			backdrop-filter: blur(10px);
			transition: backdrop-filter .4s;
			
			&:hover {
				backdrop-filter: blur(6px);
			}
		}
		
		.community-highlight-stack__backlog-card {
			background: #18181b5e !important;
			backdrop-filter: blur(2px);
		}
		
			// not needed?
		.fJgKVb, .NjUUT, .kjWTWh { background-color: transparent !important; }
	}
	
		.volume-slider__slider-container { clip-path: inset(0 100% 0 0); transition: clip-path .2s, opacity .2s; will-change: clip-path; }
		.volume-slider__slider-container[aria-hidden="false"] { clip-path: inset(0 0 0 0); }
		.volume-slider__slider-container[aria-hidden="true"] { .ScRangeFillValue-sc-q01wc3-3 { background-color: transparent; } }
	
	if (new-pause) {
		.extensions-dock__layout, .player-controls__left-control-group > div:not(.iDMNUO), .muted-segments-alert__scroll-wrapper, .theatre-social-panel, .stream-info-card, .disclosure-tool, [aria-label="Chat Happening Now Overlay"], .player-overlay-background--darkness-3, .video-player__overlay .cojdHE:has([data-a-target="player-overlay-video-stats"]) { z-index: 3; }
		.player-controls .kIqpCX { z-index: 2; position: relative; }
		//[data-a-target="player-mute-unmute-button"], .volume-slider__slider-container { margin-left: 1px; }
		.player-controls__left-control-group { flex-grow: 0 !important; }

		.player-controls {
			[class="InjectLayout-sc-1i43xsx-0 iDMNUO"]:has([data-a-player-state="playing"]) {
				position: absolute !important;
				height: 10000% !important;
				width: 1000% !important;
			}
		}
		
		.iPkwTD[data-a-player-state] { transition: margin-left .4s .1s, opacity .4s .1s; will-change: margin-left; }
		
		.iPkwTD[data-a-player-state="playing"] {
			position: absolute !important;
			color: transparent !important;
			height: 100% !important;
			width: 100% !important;
			border-radius: 0px;
			background: none !important;
			margin-left: -32px;
			opacity: 0;
			outline: none;
		}

		.iPkwTD[data-a-player-state="paused"] {
			> .lnTwMD { position: absolute; color: white !important; opacity: 1; }
		}
		
		@css { .extensions-popover-view-layout__body::before {
			content: "NOTE: Twitch Better\'s option \"PAUSE ANYWHERE\" breaks an interaction with the stream extensions. Disable it in the settings of style if needed.";
			color: #ff9898;
		} }
	}

@css {
	@keyframes indicator { 0% { opacity: 0.7; transform: scale(1); }
	to { opacity: 0; transform: scale(2.5); } }

	@keyframes reveal-badge { 50% { opacity: 0; content: unset; }
	to { content: unset; } }

	@keyframes reveal-badge-carousel { 0% { opacity: 0; transform: scale(0.5); content: unset; }
	to { content: unset; } }

	@keyframes logo { 0% { clip-path: inset(0 61% 0 0); transform: translateY(-200%); opacity: 0; color: #b1b1bf; cursor: wait; word-spacing: unset; }
	8% { clip-path: inset(0 61% 0 0); transform: none; color: #b1b1bf; opacity: 0.8; }
	20%, 30% { clip-path: inset(0 25% 0 0); transform: none; color: transparent; opacity: 1; }
	42%, 78% { clip-path: inset(0 0 0 83%); transform: translateX(-135px); color: #b1b1bf; opacity: 1; }
	90% { clip-path: inset(0 25% 0 0); transform: none; color: #efeff1; opacity: 0.5; }
	to { clip-path: inset(0 25% 0 0); transform: none; color: #b1b1bf; opacity: 0.5; cursor: wait; word-spacing: unset; } }

	@keyframes logo-blink { 0% { opacity: 1; }
	25% { opacity: 0.8; } 
	50% { opacity: 1; }
	75% { opacity: 0.8; }
	to { opacity: 1; } }

	@keyframes pop-small { from { transform: translateY(15px); } }

	@keyframes user-menu { 0% { clip-path: inset(0 0 100% 0); transform: scaleY(0); transform-origin: top; }
	to { clip-path: inset(-5% -5% -5% -5%); transform-origin: top; } }

	@keyframes roll-down { 0% { clip-path: inset(0 0 100% 0); }
	to { clip-path: inset(-5% -5% -5% -5%); } }

	@keyframes user-element { from { transform: translateX(-40%); } }

	@keyframes side-nav { from { transform: translateX(-50%); } }

	@keyframes search { 0% { clip-path: inset(0 0 100% 0); transform: translateY(-25%); }
	to { clip-path: inset(-10% -10% -10% -10%); } }

	@keyframes swipe { 0% { clip-path: inset(0 100% 0 0); }
	to { clip-path: inset(-5% -5% -5% -5%); } }

	@keyframes top-nav-menu { 0% { clip-path: inset(0 0 100% 0);  }
	to { clip-path: inset(-5% -5% -5% -5%); } }

	@keyframes streamer-card { 0% { transform: translateY(20%); opacity: 0; filter: grayscale(1); pointer-events: none; }
	to { pointer-events: none; } }

	@keyframes content-in { from { transform: scale(0.3); opacity: 0; filter: grayscale(1); } }
	
	@keyframes content-in-checkbox { from { transform: translate3d(var(--checkbox-fill-transform-x), -50%, 0) scale(0.3); } 
	to { transform: translate3d(var(--checkbox-fill-transform-x), -50%, 0); } }
	
	@keyframes seekbar-thumb { 0% { transform: scale(0.3) scaleY(1) translateX(-50%); opacity: 0; filter: grayscale(1); transform-origin: left; }
	to { transform: scale(1) scaleY(0.65) translateX(-50%); transform-origin: left; } }

	@keyframes emotes { 0% { transform: scale(0.3); opacity: 0; }
	to { transform: scale(1.1); } }

	@keyframes community-highlight { from { transform: translateY(-100%); opacity: 0.1; } }

	@keyframes notification { from { transform: translateY(-150%); opacity: 0.1; } }

	@keyframes messages { from { transform: translateY(100%); opacity: 0; } }

	@keyframes messages-right { from { transform: translateX(50%); opacity: 0; } }

	@keyframes chat-custom { from { transform: translateY(40%); opacity: 0; } }

	@keyframes custom-element { from { transform: translateY(-100%); opacity: 0; } }

	@keyframes opacity-in { from { opacity: 0; } }

	@keyframes opacity-cycle { 50% { opacity: 0.7; } }

	@keyframes opacity-off { to { opacity: 0; } }

	@keyframes rewards-list { from { transform: translateY(100%); } }

	@keyframes emote-picker { from { transform: translateY(10%); opacity: 0.5; } }

	@keyframes chat-tray { from { transform: translateY(50%); opacity: 0; }  }

	@keyframes chat-badge { 0% { transform: translateY(50%); opacity: 0; pointer-events: none; }
	to { pointer-events: none; } }

	@keyframes pause-svg { from { transform: translateY(-100%); } }

	@keyframes follow-button { from { transform: translateY(100%); opacity: 0; } }

	@keyframes follow-placeholder { to { transform: scale(0.5); opacity: 0; } }

	@keyframes spin-hue { to { filter: hue-rotate(360deg); } }

	@keyframes spin-hue-180 { 0% { filter: hue-rotate(180deg); }
	to { filter: hue-rotate(360deg); } }

	@keyframes overflow-control { to { overflow: hidden; } }

	@keyframes hide-button { from { transform: translateX(-50%); opacity: 0; } }

	@keyframes settings-menu { from { transform: translateX(-15%); opacity: 0.5; } }

	@keyframes blur-15 { to { backdrop-filter: blur(15px); } }

	@keyframes blur-15-decrease { 0% { backdrop-filter: blur(70px); } 
	to { backdrop-filter: blur(15px); } }

	@keyframes blur-55 { to { backdrop-filter: blur(55px); } }

	@keyframes settings-blur { to { backdrop-filter: blur(55px) saturate(180%); } }

	@keyframes gradient { 0% { background-position: 200%; }
	to { background-position: -200%; } }

	@keyframes gradient-discord { 0% { background-position: 0; }
	to { background-position: 100px; } }

	@keyframes gradient-rotate { to { --angle: 360deg; } }

	@property --angle { syntax: "<angle>"; initial-value: 0deg; inherits: false; }
}

/*@property --color-1 {
	syntax: "<color>";
	initial-value: #a8bbff;
	inherits: false;
}

@property --color-2 {
	syntax: "<color>";
	initial-value: #de76f0;
	inherits: false;
}*/

}
@-moz-document regexp("https?:\/\/www\.twitch\.tv\/[^\/]+\/clip\/.*") {
	if (new-pause) {
		.player-controls {
			[data-a-target="player-play-pause-button"][data-a-player-state="playing"] {
				position: absolute !important;
				height: 10000% !important;
				width: 1000% !important;
			}
		}
	}
}
@-moz-document url("https://clips.twitch.tv/create") {
	.clips-root__main {
		padding-inline: 23px !important;
		
		.bLuwEe { max-width: unset !important; }
		.kNocWT { width: 100% !important; }
			
		.kvrzxX .tw-transition[aria-hidden] { opacity: 1 !important; } // volume slider
	}
}
